div.modal.fade#mainModal tabindex="-1" role="dialog" aria-labelledby="mainModal" aria-hidden="true"
  div.modal-dialog
    button.close.close-modal type="button" data-dismiss="modal" aria-hidden="true" &times;
    div.modal-content
