@import "bootstrap_and_overrides";

#books table tr {
  td, th {
    text-align: center;
    vertical-align: middle;
  }

  td.reservations-count {
    vertical-align: middle;
    span.count {
      vertical-align: middle;
    }
    .glyphicon {
      font-size: 24px;
      vertical-align: middle;
      margin-left: 8px;
    }
  }

  td {
    .none {
      @extend .weak;
    }

    .btn-copy {
      margin: 0 2px 2px 0;
    }
  }
}

.tt-hint {
  display: none;
}
